Calculating Return On Investment (ROI)

In [2]:
import pandas as pd
import numpy as np
import re

In [3]:
# Provided Dataframe
df = pd.read_csv('MoviesDataFrame.csv')
df

,release_date,title,genre,production_budget,domestic_gross,foreign_gross,worldwide_gross,roi
0,2010-01-08,Leap Year,Comedy,19.0,25.918920,6.700000,32.618920,274.327227
1,2010-01-08,Leap Year,Drama,19.0,25.918920,6.700000,32.618920,274.327227
2,2010-01-08,Leap Year,Romance,19.0,25.918920,6.700000,32.618920,274.327227
3,2010-01-15,The Last Station,Drama,18.0,6.617867,9.078279,15.696146,197.081758
4,2010-01-22,Legion,Action,26.0,40.168080,27.479494,67.918658,253.163250
...,...,...,...,...,...,...,...,...
1798,2019-04-12,Hellboy,Horror,60.0,21.903748,40.200000,99.823958,316.189100
1799,2019-05-24,Aladdin,Adventure,183.0,355.559216,695.400000,1050.959216,692.329343
1800,2019-05-24,Aladdin,Comedy,183.0,355.559216,695.400000,1050.959216,692.329343
1801,2019-05-24,Aladdin,Family,183.0,355.559216,695.400000,1050.959216,692.329343
1802,2019-05-24,Aladdin,Fantasy,183.0,355.559216,286.700000,1047.612394,292.307692

In [1]:
# Creating Function for ROI
def roi (gross, budget):
    percentage = (gross-budget)/budget * 100
    return (percentage)

In [4]:
#merged_df3['domestic_roi'] = roi(merged_df3['domestic_gross'], merged_df3['production_budget'])
#merged_df3['foreign_roi'] = roi(merged_df3['foreign_gross'], merged_df3['production_budget'])
#merged_df4['roi'] = roi(merged_df3['worldwide_gross'], merged_df3['production_budget'])

Editting Workable Dataframe

In [ ]:
#columnsorder = ['release_date', 'title', 'genre', 'production_budget', 'domestic_gross', 
                'foreign_gross', 'worldwide_gross', 'roi']
#final_df = merged_df4.reindex(columns=columnsorder)
#final_df = final_df.sort_values('release_date', ignore_index=True)
#presentation_df = final_df.rename(columns={'release_date': 'Release Date', 'title': 'Title',
                                           'genre': 'Genre', 'production_budget': 'Production Budget', 
                                           'domestic_gross': 'Domestic Gross', 'foreign_gross': 'Foreign Gross', 
                                           'worldwide_gross': 'Worldwide Gross', 'roi': 'ROI'})