General Imports for Web-Scraping

In [1]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

Making Soup

In [2]:
numbers_url = {}
for year in range(2010, 2020):
    numbers_url[year] = 'https://www.the-numbers.com/market/%s/top-grossing-movies' % year
numbers_response = {}
for year in range(2010, 2020):
    numbers_response[year] = requests.get(numbers_url[year])
numbers_soup = {}
for year in range(2010, 2020):
    numbers_soup[year] = BeautifulSoup(numbers_response[year].text, 'lxml')

Containers

In [3]:
# Container with Table
numbers_warning = {}
for year in range(2010, 2020):
    numbers_warning[year] = numbers_soup[year].find('table')

# Container with General Information
numbers_infocontainer = {}
for year in range (2010, 2020):
    numbers_infocontainer[year] = numbers_warning[year].find_all('tr')

Scraping Movies

In [4]:
numbers_movies = []
for year in range (2010, 2020):
    for a in range(1, len(numbers_infocontainer[year])-2):
        numbers_movies.append(numbers_infocontainer[year][a].find_all('a')[0].get_text())
print (len(numbers_movies))

7426

Scraping Release Dates

In [5]:
numbers_dates = []
for year in range (2010, 2020):
    for b in range(1, len(numbers_infocontainer[year])-2):
        numbers_dates.append(numbers_infocontainer[year][b].find_all('a')[1].get_text())
print (len(numbers_dates))

7426

Scraping Genre

In [6]:
numbers_genres = []
for year in range (2010, 2020):
    for c in range(1, len(numbers_infocontainer[year])-2):
        try:
            numbers_genres.append(numbers_infocontainer[year][c].find_all('a')[3].get_text())
        except:
            numbers_genres.append(None)
print (len(numbers_genres))

7426

Scraping Gross

In [7]:
numbers_gross = []
for year in range (2010, 2020):
    for d in range(1, len(numbers_infocontainer[year])-2):
        phrase = numbers_infocontainer[year][d].find_all('td', class_="data")[1].get_text()
        phrases = phrase.split('$')[1]
        number = phrases.replace(',','')
        numbers_gross.append(int(number))
print (len(numbers_gross))

7426

Making More Soup

In [8]:
pages = []
pagesetup = 1
while pagesetup <= 6001:
    pages.append(pagesetup)
    pagesetup +=100

morenumbers_url = {}
for page in pages:
    morenumbers_url[page] = 'https://www.the-numbers.com/movie/budgets/all/%s' % page
morenumbers_url[1] = 'https://www.the-numbers.com/movie/budgets/all'

morenumbers_response = {}
for page in pages:
    morenumbers_response[page] = requests.get(morenumbers_url[page])

    morenumbers_soup = {}
for page in pages:
    morenumbers_soup[page] = BeautifulSoup(morenumbers_response[page].text, 'lxml')

More Containers

In [9]:
# Container with Table
morenumbers_warning = {}
for page in pages:
    morenumbers_warning[page] = morenumbers_soup[page].find('table')

# Container with General Information
morenumbers_infocontainer = {}
for page in pages:
    morenumbers_infocontainer[page] = morenumbers_warning[page].find_all('tr')

Scraping Movies

In [10]:
morenumbers_infocontainer[1][1].find_all('a')[1].get_text()

'Avengers: Endgame'

In [11]:
morenumbers_movies = []
for page in pages:
    for a in range(1, len(morenumbers_infocontainer[page])):
        morenumbers_movies.append(morenumbers_infocontainer[page][a].find_all('a')[1].get_text())
print (len(morenumbers_movies))

6043

Scraping Production Budget

In [12]:
morenumbers_infocontainer[1][1].find_all('td', class_='data')[1].get_text()

'\xa0$400,000,000'

In [13]:
morenumbers_production = []
for page in pages:
    for b in range(1, len(morenumbers_infocontainer[page])):
        phrase = morenumbers_infocontainer[page][b].find_all('td', class_='data')[1].get_text()
        phrases = phrase.split('$')[1]
        number = phrases.replace(',','')
        morenumbers_production.append(int(number))
print (len(morenumbers_production))
print (morenumbers_production[0])

6043
400000000

Scraping Domestic Gross

In [14]:
morenumbers_infocontainer[1][1].find_all('td', class_='data')[2].get_text()

'\xa0$858,373,000'

In [15]:
morenumbers_domestic = []
for page in pages:
    for c in range(1, len(morenumbers_infocontainer[page])):
        phrase = morenumbers_infocontainer[page][c].find_all('td', class_='data')[2].get_text()
        phrases = phrase.split('$')[1]
        number = phrases.replace(',','')
        morenumbers_domestic.append(int(number))
print (len(morenumbers_domestic))
print (morenumbers_domestic[0])

6043
858373000

Scraping Worldwide Gross

In [16]:
morenumbers_infocontainer[1][1].find_all('td', class_='data')[3].get_text()

'\xa0$2,797,800,564'

In [17]:
morenumbers_worldwide = []
for page in pages:
    for d in range(1, len(morenumbers_infocontainer[page])):
        phrase = morenumbers_infocontainer[page][d].find_all('td', class_='data')[3].get_text()
        phrases = phrase.split('$')[1]
        number = phrases.replace(',','')
        morenumbers_worldwide.append(int(number))
print (len(morenumbers_worldwide))
print (morenumbers_worldwide[0])

6043
2797800564

Finding Foreign Gross

In [18]:
def foreign(x, y):
    return (x - y)

In [19]:
morenumbers_foreign = []
for element in range(0, 6043):
    morenumbers_foreign.append(foreign(morenumbers_worldwide[element], morenumbers_domestic[element]))
print (len(morenumbers_foreign))

6043

Pandas

In [20]:
numbers_df = pd.DataFrame([numbers_dates, numbers_movies, numbers_genres, numbers_gross]).transpose()
numbers_df.columns = ['release_date', 'title',  'genres', 'domestic_gross']
numbers_df

      release_date                         title       genres domestic_gross
0     Jun 18, 2010                   Toy Story 3    Adventure      415004880
1     Dec 18, 2009                        Avatar       Action      408392727
2      Mar 5, 2010           Alice in Wonderland    Adventure      334191110
3      May 7, 2010                    Iron Man 2       Action      312433331
4     Jun 30, 2010    The Twilight Saga: Eclipse        Drama      300531751
...            ...                           ...          ...            ...
7421   Nov 9, 2018                    Chef Flynn  Documentary            721
7422   Sep 7, 2018              I am Not a Witch        Drama            550
7423   Dec 7, 2018  Divide and Conquer: The Sto…  Documentary            474
7424   Jul 8, 1968                         Senso        Drama            437
7425  Dec 13, 2018  Never-Ending Man: Hayao Miy…  Documentary            376

[7426 rows x 4 columns]

In [21]:
morenumbers_df = pd.DataFrame([morenumbers_movies, morenumbers_production, morenumbers_domestic, morenumbers_foreign, morenumbers_worldwide]).transpose()
morenumbers_df.columns = ['title', 'production_budget', 'domestic_gross', 'foreign_gross', 'worldwide_gross']
morenumbers_df

,title,production_budget,domestic_gross,foreign_gross,worldwide_gross
0,Avengers: Endgame,400000000,858373000,1939427564,2797800564
1,Pirates of the Caribbean: On Stranger Tides,379000000,241063875,804600000,1045663875
2,Avengers: Age of Ultron,365000000,459005868,937093334,1396099202
3,Star Wars Ep. VII: The Force Awakens,306000000,936662225,1128815859,2065478084
4,Avengers: Infinity War,300000000,678815482,1369544272,2048359754
...,...,...,...,...,...
6038,Red 11,7000,0,0,0
6039,Following,6000,48482,192013,240495
6040,Return to the Land of Wonders,5000,1338,0,1338
6041,A Plague So Pleasant,1400,0,0,0
6042,My Date With Drew,1100,181041,0,181041

Merging and Cleaning DataFrames

In [22]:
mergednumbers_df = numbers_df.merge(morenumbers_df, on='title', how='left')
mergednumbers_df['domestic_gross'] = mergednumbers_df['domestic_gross_x']
mergednumbers_df.drop(['domestic_gross_x', 'domestic_gross_y'], axis=1, inplace=True)
mergednumbers_df = mergednumbers_df.reindex(columns=['release_date', 'title', 'genres', 'production_budget', 'domestic_gross', 'foreign_gross', 'worldwide_gross'])
mergednumbers_df['release_date'] = pd.to_datetime(mergednumbers_df['release_date'], errors='coerce')
mergednumbers_df

,release_date,title,genres,production_budget,domestic_gross,foreign_gross,worldwide_gross
0,2010-06-18,Toy Story 3,Adventure,200000000,415004880,653874642,1068879522
1,2009-12-18,Avatar,Action,237000000,408392727,2028193712,2788701337
2,2010-03-05,Alice in Wonderland,Adventure,200000000,334191110,691300000,1025491110
3,2010-03-05,Alice in Wonderland,Adventure,3000000,334191110,0,0
4,2010-05-07,Iron Man 2,Action,170000000,312433331,308723058,621156389
...,...,...,...,...,...,...,...
7512,2018-11-09,Chef Flynn,Documentary,NaN,721,NaN,NaN
7513,2018-09-07,I am Not a Witch,Drama,NaN,550,NaN,NaN
7514,2018-12-07,Divide and Conquer: The Sto…,Documentary,NaN,474,NaN,NaN
7515,1968-07-08,Senso,Drama,NaN,437,NaN,NaN
7516,2018-12-13,Never-Ending Man: Hayao Miy…,Documentary,NaN,376,NaN,NaN

Remove "#" to Export (.csv)

In [23]:
#mergednumbers_df.to_csv('numbers_df.csv', index=False)