<b>General Imports for Web-Scraping</b>

In [1]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

Making Soup

In [2]:
numbers_url = {}
for year in range(2010, 2020):
    numbers_url[year] = 'https://www.the-numbers.com/market/%s/top-grossing-movies' % year
numbers_response = {}
for year in range(2010, 2020):
    numbers_response[year] = requests.get(numbers_url[year])
numbers_soup = {}
for year in range(2010, 2020):
    numbers_soup[year] = BeautifulSoup(numbers_response[year].text, 'lxml')

Containers

In [3]:
# Container with Table
numbers_warning = {}
for year in range(2010, 2020):
    numbers_warning[year] = numbers_soup[year].find('table')

# Container with General Information
numbers_infocontainer = {}
for year in range (2010, 2020):
    numbers_infocontainer[year] = numbers_warning[year].find_all('tr')

Scraping Movies

In [4]:
numbers_movies = []
for year in range (2010, 2020):
    for a in range(1, len(numbers_infocontainer[year])-2):
        numbers_movies.append(numbers_infocontainer[year][a].find_all('a')[0].get_text())
print (len(numbers_movies))

7426

Scraping Release Dates

In [5]:
numbers_dates = []
for year in range (2010, 2020):
    for b in range(1, len(numbers_infocontainer[year])-2):
        numbers_dates.append(numbers_infocontainer[year][b].find_all('a')[1].get_text())
print (len(numbers_dates))

7426

Scraping Genre

In [6]:
numbers_genres = []
for year in range (2010, 2020):
    for c in range(1, len(numbers_infocontainer[year])-2):
        try:
            numbers_genres.append(numbers_infocontainer[year][c].find_all('a')[3].get_text())
        except:
            numbers_genres.append('ERROR')
print (len(numbers_genres))

7426

Scraping Gross

In [7]:
numbers_gross = []
for year in range (2010, 2020):
    for d in range(1, len(numbers_infocontainer[year])-2):
        numbers_gross.append(numbers_infocontainer[year][d].find_all('td', class_="data")[1].get_text())
print (len(numbers_gross))

7426

Making More Soup

In [20]:
pages = []
pagesetup = 1
while pagesetup <= 6001:
    pages.append(pagesetup)
    pagesetup +=100
#print (pages)

morenumbers_url = {}
for page in pages:
    morenumbers_url[page] = 'https://www.the-numbers.com/movie/budgets/all/%s' % page
morenumbers_url[1] = 'https://www.the-numbers.com/movie/budgets/all'
#print (morenumbers_url[1])
morenumbers_response = {}
for page in pages:
    morenumbers_response[page] = requests.get(morenumbers_url[page])
morenumbers_soup = {}
for page in pages:
    morenumbers_soup[page] = BeautifulSoup(morenumbers_response[page].text, 'lxml')

More Containers

In [14]:
# Container with Table
morenumbers_warning = {}
for page in pages:
    morenumbers_warning[page] = morenumbers_soup[page].find('table')

# Container with General Information
morenumbers_infocontainer = {}
for page in pages:
    morenumbers_infocontainer[page] = morenumbers_warning[page].find_all('tr')

Scraping Movies

In [25]:
morenumbers_infocontainer[1][1].find_all('a')[1].get_text()

'Avengers: Endgame'

In [23]:
morenumbers_movies = []
for page in pages:
    for a in range(1, len(morenumbers_infocontainer[page])):
        morenumbers_movies.append(morenumbers_infocontainer[page][a].find_all('a')[1].get_text())
print (len(morenumbers_movies))

6043

Scraping Production Budget

In [26]:
morenumbers_infocontainer[1][1].find_all('td', class_='data')[1].get_text()

'\xa0$400,000,000'

In [27]:
morenumbers_production = []
for page in pages:
    for b in range(1, len(morenumbers_infocontainer[page])):
        morenumbers_production.append(morenumbers_infocontainer[page][b].find_all('td', class_='data')[1].get_text())
print (len(morenumbers_production))

6043

Scraping Domestic Gross

In [28]:
morenumbers_infocontainer[1][1].find_all('td', class_='data')[2].get_text()

'\xa0$858,373,000'

In [29]:
morenumbers_domestic = []
for page in pages:
    for c in range(1, len(morenumbers_infocontainer[page])):
        morenumbers_domestic.append(morenumbers_infocontainer[page][c].find_all('td', class_='data')[2].get_text())
print (len(morenumbers_domestic))

6043

Scraping Worldwide Gross

In [30]:
morenumbers_infocontainer[1][1].find_all('td', class_='data')[3].get_text()

'\xa0$2,797,800,564'

In [31]:
morenumbers_worldwide = []
for page in pages:
    for d in range(1, len(morenumbers_infocontainer[page])):
        morenumbers_worldwide.append(morenumbers_infocontainer[page][d].find_all('td', class_='data')[3].get_text())
print (len(morenumbers_worldwide))

6043

Finding Foreign Gross (NOT FINISHED)

In [39]:
def foreign(x, y):
    return (x - y)

In [40]:
morenumbers_foreign = []
for element in morenumbers_worldwide:
    morenumbers_foreign.append(foreign(morenumbers_worldwide[element], morenumbers_domestic[element]))
print (len(morenumbers_foreign))

TypeError: list indices must be integers or slices, not str

Pandas

In [41]:
numbers_df = pd.DataFrame([numbers_dates, numbers_movies, numbers_genres, numbers_gross]).transpose()
numbers_df.columns = ['release_date', 'title',  'genres', 'domestic_gross']
numbers_df

      release_date                         title       genres domestic_gross
0     Jun 18, 2010                   Toy Story 3    Adventure   $415,004,880
1     Dec 18, 2009                        Avatar       Action   $408,392,727
2      Mar 5, 2010           Alice in Wonderland    Adventure   $334,191,110
3      May 7, 2010                    Iron Man 2       Action   $312,433,331
4     Jun 30, 2010    The Twilight Saga: Eclipse        Drama   $300,531,751
...            ...                           ...          ...            ...
7421   Nov 9, 2018                    Chef Flynn  Documentary           $721
7422   Sep 7, 2018              I am Not a Witch        Drama           $550
7423   Dec 7, 2018  Divide and Conquer: The Sto…  Documentary           $474
7424   Jul 8, 1968                         Senso        Drama           $437
7425  Dec 13, 2018  Never-Ending Man: Hayao Miy…  Documentary           $376

[7426 rows x 4 columns]

In [42]:
#numbers_df.to_excel('numbers_df.xlsx', index=False)

In [43]:
morenumbers_df = pd.DataFrame([morenumbers_movies, morenumbers_production, morenumbers_domestic, morenumbers_worldwide]).transpose()
morenumbers_df.columns = ['title', 'production_budget', 'domestic_gross', 'worldwide_gross']
morenumbers_df

,title,production_budget,domestic_gross,worldwide_gross
0,Avengers: Endgame,"$400,000,000","$858,373,000","$2,797,800,564"
1,Pirates of the Caribbean: On Stranger Tides,"$379,000,000","$241,063,875","$1,045,663,875"
2,Avengers: Age of Ultron,"$365,000,000","$459,005,868","$1,396,099,202"
3,Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,065,791,405"
4,Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,359,754"
...,...,...,...,...
6038,Red 11,"$7,000",$0,$0
6039,Following,"$6,000","$48,482","$240,495"
6040,Return to the Land of Wonders,"$5,000","$1,338","$1,338"
6041,A Plague So Pleasant,"$1,400",$0,$0
6042,My Date With Drew,"$1,100","$181,041","$181,041"

In [44]:
#morenumbers_df.to_excel('numbers_df.xlsx', index=False)

Merging Data Frames NOT FINISHED

In [ ]:
#mergednumbers_df.to_csv('numbers_df.csv')

Extra info to consider:
https://www.the-numbers.com/market/